body {
  background-color: #d5e1ef;
  min-height: 100vh;
  position: relative;
  font-family: cursive;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 302px;
  height: 470px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 14px;
  padding-bottom: 3rem;
}
img {
  width: 100%;
  border-radius: 10px;
}
h2 {
  color: #1f3251;
}
p {
  color: hsl(220, 15%, 55%);
}
